body {
  font-family: 'Poppins', sans-serif;
}

.header .container {
  background-color: white;
}

.carousel-item .text-content h1,
p {
  padding-bottom: 10px;
}

.carousel-indicators [data-bs-target] {
  background-color: orange;
}

.middle img {
  width: 64px;
}

.slider {
  background-image: url(/bg-2.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: auto;
}

/* Smartphone Section  CSS */

.section-header a {
  color: orange;
  text-decoration: none;
}

.card {
  border: none;
  box-shadow: 5px 5px 20px whitesmoke;
  border-radius: 20px;
}
